- name: Install default packages
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  become: yes
  vars:
    packages:
    - aptitude
    - bc
    - build-essential
    - git
    - htop
    - libxml2-utils
    - mosh
    - python-lxml
    - vim
